// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

@import url(http://fonts.googleapis.com/css?family=Raleway:200);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,400italic);

$sans: "Lato", "Verdana", sans-serif;

$heading-font-family: $sans;
$header-title-font-family: "Raleway", sans-serif;
$header-subtitle-font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif !default;

// MAYBE ADD MUSEO_SANS 300 as sans font? looks goot here https://coderwall.com/p/nas1fq
// Open Sans
body p {
  font-family: $sans;
}

body > header h1 {
  letter-spacing: 0.2em;
  // font-size: 1.2em;
  line-height: 1.0em;
  text-transform: uppercase;
}

body > nav {
  ul li {
    font-size: 0.9em;
  }
}

body > footer {
  p { font-family: $sans; }
}

#content .blog-index article {
  header {
    h1 {
      font-size: 1.8em;
    }
    p.meta {
      text-transform: none;
      font-size: 0.7em;
    }
  }
  p {
    font-size: 0.80em;
    line-height: 1.35em;
  }
  a[rel=full-article] {
    font-family: $sans;
  }
}

#content article h1, #content article h2, #content article h3 {
  font-weight: lighter;
  font-size: 1.4em;
}

#content {
  article {
    header {
      h1 {
        font-size: 1.8em;
      }
      p.meta {
        text-transform: none;
        font-size: 0.7em;
        span.fn {
          color: $lua-red;
        }
      }
    }
    p {
      font-size: 0.85em;
      line-height: 1.35em;
    }
    footer {
      font-family: $sans;
      p.meta { font-family: $sans; }
    }
  }
  .pagination a {
    font-family: $sans;
  }
}