// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: #fdfdfd url('/images/noise.png?1372256720') top left;
  // background: #222 url('/images/noise.png?1372256720') top left;
}

body > header {
  background: #fdfdfd url('/images/noise.png?1372256720') top left;
  // background: #222 url('/images/noise.png?1372256720') top left;
  padding-bottom: 1.0em;
  padding-top: 1.0em;
  div.logo {
    display: inline-block;
    img {
      width: 150px;
    }
  }
  h1 {
    padding-left: 0.25em;
    line-height: 1.0em;
    font-size: 1.2em;
    position: relative;
    top: -3px;
  }
  h2 {
    font-size: 0.8em;
    margin: 0 0 0 0;
  }
}

body > nav {
  // border: none;
  ul {
    li a {
      text-shadow: none;
    } 
    li+li{
      border-left: none;
      a {
        border-left: none;
      }
    } 
  }
  form .search {
    width: 150px;
  }
}

body > footer {
  margin-bottom: 0em;
  p {
    text-align: center;  }
}

#content {
  .blog-index article {
    padding-top: 1.5em;
    header {
      padding-top: 0em;
      margin-bottom: 1.2em;
      h1 {
        margin-bottom: 0.2em;
      }
      p.meta {
        position: relative;
      }
    }
  }
  article {
    padding-top: 1.5em;
    header {
      padding-top: 0em;
      margin-bottom: 1.2em;
      h1 {
        margin-bottom: 0.2em;
      }
      p.meta {
        position: relative;
      }
    }
    h2 { padding-top: 0em; }
    h2, h3, h4 { background: none; }
  }
  #blog-archive.author {
    article {
      padding-top: 0em;
      header {
        background: none;
        h1 {
          display: inline;
          color: $text-color;
          margin-bottom: .3em;
          font-size: 1.5em;
          a {
            @include hover-link;
            color: inherit;
            &:hover { color: $link-color-hover; }
            font-weight: normal;
            display: inline-block;
          }
        }
        p {
          display: inline;
        }
      }
      .entry-content { display: none; }
      footer { display: none; }
    }
  }
}